<grid class="sm">
<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title class="colortitulo">Registr<span>APP</span></ion-title>
    </div>
  </ion-toolbar>
</ion-header>
</grid>

<ion-content>
  <br>
  <br>
  <ion-card class="card1"> 
    <ion-card-header>
      <ion-card-title #square1 class="colortitulo2"><ion-icon class="icon" name="alert-outline"></ion-icon>  RECUERDA  <ion-icon class="icon" name="alert-outline"></ion-icon></ion-card-title>
    </ion-card-header>
  <ion-card-content>
    Debes usar la misma contraseña que actualmente usas en tu plataforma AVA-Collaborate.
    una vez enviado el correo de recuperación deberás seguir los pasos indicados en el.
  </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header lines="full">
      <ion-title>Recuperar</ion-title>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="correo.correo" minlength="3" maxlength="35"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="ingresar()">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>

<div class="container">
  <ion-footer>
    <div class="ion-text-center">
      <ion-title class="colorfooter"> </ion-title>
      <ion-button routerLink="/login" color="warning">Salir</ion-button>
    </div>
  </ion-footer>
</div>
