<!--poner ion-content para el color de fondo-->
<ion-content>
  <div class="header">
    <div class="ion-text-center">
      <ion-title class="colortitulo">Registr<span>APP</span></ion-title>
    </div>
  </div>
  <div class="container2">
    <lottie-player src="https://assets5.lottiefiles.com/datafiles/hToYrgLpHl1u69x/data.json" background="transparent"
      speed="1" loop autoplay></lottie-player>
  </div>
  <div class="container1">
    <ion-button [routerLink]="['/login']" >Inicio de sesion</ion-button>
    <br>
    <ion-button [routerLink]="['/registro']">Registro</ion-button>
  </div>
</ion-content>